*{
  margin: 0;
  padding: 0;
}
body{
    background-color: #E80031;

    display: grid;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas:  'nav'
                          'main'
                          'footer';

  height: 100vh;
  justify-items: center;
  align-items: center;
}

nav{
  grid-area: nav;
}

main{
  grid-area: main;
}
main img{
  width: 50vw;
}

footer{
  grid-area: footer;
}

footer img{
  width: 4rem;
}

footer img:nth-child(1), img:nth-child(2) {
  padding-right: 2em;
}

/* Media queries*/

/* iPhone 6, 7, 8 ----------- */
/* @media only screen and (min-device-width: 375px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  body{
    align-items: start;
  }
  main img{
    width: 90vw;
  }

  footer img{
    width: 8rem;
  }
} */


@media (max-width: 896px) {
  body{
    align-items: start;
  }
  main img{
    width: 90vw;
  }

  footer img{
    width: 5rem;
  }

  footer img:nth-child(1), img:nth-child(2) {
    padding-right: 1em;
  }
}
